<p>
<a href="{{ site.apple }}" class="button"><i class="fas fa-podcast"></i> Apple Podcasts</a><br>

<a href="{{ site.spotify }}" class="button spotify"><i class="fab fa-spotify"></i> Spotify</a><br>

<a href="{{site.rss}}" class="button rss"><i class='fas fa-rss'></i> RSS</a>

<a href="https://linktr.ee/1pct" class="button spotify"><i class="fas fa-link"></i> Links</a><br>

<a href="https://podcasts.social/@unpodcasttrans" class="button blue"><i class="fab fa-mastodon"></i> </a>
<a href="https://www.instagram.com/unpodcasttrans" class="button rss"><i class="fab fa-instagram"></i> </a> 
<a href="https://www.facebook.com/unpodcasttrans" class="button "><i class="fab fa-facebook"></i> </a>
<br>
<a href="http://nre.fm" class="button" title="Nouvelles Radios Euphoriques"><span class="fas fa-podcast"></span> NRE</a>

</p>