<p>
<a href="https://twitter.com/unpodcasttrans" class="button twitter"><i class='fab fa-twitter'></i> Twitter</a>

<a href="{{ site.apple }}" class="button"><i class="fas fa-podcast"></i> Apple Podcasts</a>

<a href="{{ site.pocketcasts }}" class="button pocketcasts"><span class="icon-pocketcasts"></span> Pocket Casts</a>

<a href="{{ site.spotify }}" class="button spotify"><i class="fab fa-spotify"></i> Spotify</a>

<a href="{{ site.overcast }}" class="button overcast"><span class="icon-overcast"></span> Overcast</a>

<a href="{{site.rss}}" class="button rss"><i class='fas fa-rss'></i> Flux RSS</a>
</p>
