<p>
<a href="{{ site.apple }}" class="button"><i class="fas fa-podcast"></i> Apple Podcasts</a>

<a href="{{ site.spotify }}" class="button spotify"><i class="fab fa-spotify"></i> Spotify</a>

<!--<a href="{{ site.pocketcasts }}" class="button pocketcasts"><span class="icon-pocketcasts"></span> Pocket Casts</a>

<a href="{{ site.overcast }}" class="button overcast"><span class="icon-overcast"></span> Overcast</a>-->

<a href="{{site.rss}}" class="button rss"><i class='fas fa-rss'></i> RSS</a>

<a href="https://linktr.ee/1pct" class="button spotify"><i class="fas fa-link"></i> Links</a>
<a href="https://podcasts.social/@unpodcasttrans" class="button blue"><i class="fab fa-mastodon"></i> </a>
<a href="https://www.instagram.com/unpodcasttrans" class="button rss"><i class="fab fa-instagram"></i> </a> </br>
<a href="https://www.facebook.com/unpodcasttrans" class="button "><i class="fab fa-facebook"></i> </a>
<!--<a href="https://twitter.com/UnPodcastTrans" class="button twitter"><i class="icon-twitter"></i> </a>-->

</p>