<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
      {% include head.html %}
  </head>

  <body {% if page.layout %}class="{{ page.layout }}"{% endif %}>

    <header>
        <div class="book-title">
            {% if page.layout == "home" or page.layout == "archive" or page.layout == "about" %}
                <h1><a href="/"><img src="/images/Logo.png" alt="Un Podcast Trans"></a></h1>
            {% else %}
                <a href="/"><img src="/images/Logo.png" alt="Un Podcast Trans"></a>
                {% if page.episode %}
                  <div class="episode-num">Épisode {{ page.episode }}</div>
                  {% else %}{% if page.overtitle %}
                  <div class="episode-num"><span class="highlighted">{{ page.overtitle }}</span></div>
                  {% endif %}
                {% endif %}
                <h1>{{ page.title }}</h1>
            {% endif %}
        </div>
    </header>

    {{ content }}

    <section class="faded">
        <footer>
          <p>
            <strong>2020-2023 - Un Podcast Trans</strong><br>
            L'équipe :
            Charlie (<a href="https://twitter.com/evilnordlys"><strong>@evilnordlys</strong></a>),
            Jena (<a href="https://eldritch.cafe/@jena"><strong>@Jena</strong></a>),
            Louie (<a href="https://mastodon.gamedev.place/@LouieMoon"><strong>@LouieMoon</strong></a>),
            Malley (<a href="https://twitter.com/ouiMalley"><strong>@ouiMalley</strong></a>),
            Mika (<a href="https://eldritch.cafe/@transeignante"><strong>@Transeignante</strong></a>), et
            Paw (<a href="https://eldritch.cafe/@paw"><strong>@Paw</strong></a>).<br>
            Fondé par Niléane (<a href="https://nileane.fr/@nileane"><strong>@Nileane</strong></a>)
          </p>
        
          <p>
            Contactez-nous sur <a href="https://podcasts.social/@unpodcasttrans"><strong>Fediverse - Mastodon</strong></a>,
            sur <a href="https://instagram.com/unpodcasttrans"><strong>Instagram</strong></a>,
            à l'adresse <a href="mailto:contact@1pct.fr"><strong>contact@1pct.fr</strong></a>,
            ou s'il le faut vraiment, 
            sur <a href="https://twitter.com/unpodcasttrans"><strong>Twitter</strong></a> 👋
          </p>
        
          <hr>
        
          <p>Un Podcast Trans est une conversation entre personnes trans. 
            Si vous découvrez la transidentité :
            <a href="https://wikitrans.co/intro/"><strong>Les bases à connaître sur la transidentité en 5mn</strong> (Wiki
              Trans)</a> 📚
          </p>
        </footer>
    </section>
  </body>
</html>
