<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
      {% include head.html %}
  </head>

  <body {% if page.layout %}class="{{ page.layout }}"{% endif %}>

    <header>
        <div class="book-title">
            {% if page.layout == "home" or page.layout == "archive" or page.layout == "about" %}
                <h1><a href="/"><img src="/images/Logo.png" alt="Un Podcast Trans"></a></h1>
            {% else %}
                <a href="/"><img src="/images/Logo.png" alt="Un Podcast Trans"></a>
                {% if page.episode %}
                  <div class="episode-num">Épisode {{ page.episode }}</div>
                  {% else %}{% if page.overtitle %}
                  <div class="episode-num"><span class="highlighted">{{ page.overtitle }}</span></div>
                  {% endif %}
                {% endif %}
                <h1>{{ page.title }}</h1>
            {% endif %}
        </div>
    </header>

    {{ content }}

    <section class="faded">
        <footer>
          <p>
            <strong>2020-2023 - Un Podcast Trans</strong><br>
            L'équipe :
            <strong>Charlie</strong> (<a href="https://www.instagram.com/ch_fbr/">@ch_fbr</a>),
            <strong>Jena</strong> (<a rel="me" href="https://eldritch.cafe/@jena">@Jena</a>),
            <strong>Louie</strong> (<a rel="me" href="https://mastodon.gamedev.place/@LouieMoon">@LouieMoon</a>),
            <strong>Malley</strong> (<a href="https://www.instagram.com/baumephotos/">@baumephotos</a>),
            <strong>Mieke</strong> (<a rel="me" href="https://eldritch.cafe/@transeignante">@Transeignante</a>), 
            <strong>Paw</strong> (<a rel="me" href="https://eldritch.cafe/@paw">@Paw</a>), et
            <strong>Séraphin</strong> (incognito). 
            Co-fondé avec <a href="https://nileane.fr/">Niléane</a>. 
            Un Podcast Trans fait partie du collectif <a href="http://nre.fm">Nouvelles Radios Euphoriques</a>, 
            qui produit 🎛️ des podcasts 🎧 éducatifs 📚 joyeux 🎉 et queer ✊. 
          </p>
        
          <p>
            Contactez-nous de préférence par <a href="mailto:1pct@nre.fm">courriel</a>, ou sur
            <a href="https://podcasts.social/@unpodcasttrans">Fediverse - Mastodon</a>, ou 
            sur <a rel="me" href="https://linktr.ee/1pct">nos autres réseaux</a>.
          </p>
        
          <hr>
        
          <p>Si vous découvrez la transidentité :
            <a href="https://wikitrans.co/intro/"><strong>Les bases sur la transidentité en 5 minutes</strong> (Wiki
              Trans)</a>.</p>
        </footer>
    </section>
  </body>
</html>
