---
layout: default
---
<section>
    <div class="post">
        {% if page.headimg_url %}
        <figure class="classic_headimg">
            <img src="{{ page.headimg_url }}">
        </figure>
        {% endif %}

        {% if page.file %}
        <a href="{{ page.file }}" class="button gray"><i class="fas fa-cloud-download-alt"></i> Télécharger</a>
        {% endif %}

        <a href="{% if page.apple %}{{ page.apple }}{% else %}{{ site.apple }}{% endif %}" class="button"><i class="fas fa-podcast"></i> Apple Podcasts</a>

        <a href="{% if page.spotify %}{{ page.spotify }}{% else %}{{ site.spotify }}{% endif %}" class="button spotify"><i class="fab fa-spotify"></i> Spotify</a>

        <a href="{% if page.pocketcasts %}{{ page.pocketcasts }}{% else %}{{ site.pocketcasts }}{% endif %}" class="button pocketcasts"><span class="icon-pocketcasts"></span> Pocket Casts</a>

        <a href="{% if page.overcast %}{{ page.overcast }}{% else %}{{ site.overcast }}{% endif %}" class="button overcast"><span class="icon-overcast"></span> Overcast</a>

        {% if page.file %}
        <audio controls="" preload="metadata"><source src="{{ page.file }}" type="audio/mpeg"></audio>
        {% endif %}

        {{ content }}
    </div>
</section>
