---
layout: default
---
<section>
    <div class="post">
        {% if page.headimg_url %}
        <figure class="classic_headimg">
            <img src="{{ page.headimg_url }}">
        </figure>
        {% endif %}

        {% if page.file %}
        <a href="{{ page.file }}" class="button gray"><i class="fas fa-cloud-download-alt"></i> Télécharger</a>
        {% endif %}

        {% if page.anchor %}
        <a href="" class="button"><i class="fas fa-podcast"></i> Apple Podcasts</a>
        {% endif %}

        {% if page.anchor %}
        <a href="{{ page.anchor }}" class="button anchor"><span class='icon-anchor'></span> Anchor</a>
        {% endif %}

        {% if page.anchor %}
        <a href="{{ page.spotify }}" class="button spotify"><i class="fab fa-spotify"></i> Spotify</a>
        {% endif %}

        {% if page.file %}
        <audio controls="" preload="metadata"><source src="{{ page.file }}" type="audio/mpeg"></audio>
        {% endif %}

        {{ content }}
    </div>
</section>
